@font-face {
  font-family: 'fb-icon';
  src: url("../font/fontello.eot?66681437");
  src: url("../font/fontello.eot?66681437#iefix") format("embedded-opentype"), url("../font/fontello.woff?66681437") format("woff"), url("../font/fontello.ttf?66681437") format("truetype"), url("../font/fontello.svg?66681437#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }
nav {
  background-color: white; }
  nav i {
    color: black; }
  nav ul a {
    color: black;
    font-size: 2.6em; }
  nav .brand-logo {
    padding: 13px; }
    nav .brand-logo img {
      height: 60px; }

nav,
nav .nav-wrapper i,
nav a.button-collapse,
nav a.button-collapse i {
  line-height: 100px;
  height: 100px; }

@media only screen and (min-width: 993px) {
  nav span.button-collapse {
    display: none; } }
.side-nav {
  width: 200px;
  text-align: center; }
  .side-nav img {
    padding-top: 10px;
    padding-bottom: 10px; }
  .side-nav li {
    text-align: left; }
  .side-nav a {
    padding: 15px; }
    .side-nav a img {
      height: 60px; }

/*
.side-nav_hide {
  position: absolute;
  top: 0;
  left: 100px;
  font-size: 36px;
  margin-left: 0px;
}

*/
footer {
  height: 50px;
  background: #F5F5F5;
  text-align: center; }

#drzewa .mainPage-section-img {
  background-image: url(../images/drzewa.jpg); }

#ogrody .mainPage-section-img {
  background-image: url(../images/ogrody.jpg); }

.mainPage-section-img {
  width: auto;
  box-shadow: 4px 4px 20px #000;
  background-position: center;
  background-size: cover;
  position: relative;
  margin-left: -23px; }
  .mainPage-section-img .title {
    font-size: 5em;
    color: #fff;
    position: absolute;
    bottom: 5%;
    right: 10%;
    letter-spacing: 2px;
    font-weight: 300; }
    .mainPage-section-img .title .material-icons {
      font-size: 2.3rem; }

.mainPageSection {
  padding-top: 100px; }
  .mainPageSection .p-content {
    padding: 13%;
    padding-bottom: 27%;
    padding-top: 18%;
    text-align: justify;
    font-size: 2.2em; }
  @media all and (max-width: 1500px) {
    .mainPageSection .p-content {
      padding: 10%;
      padding-bottom: 20%;
      padding-top: 15%;
      text-align: justify;
      font-size: 2em; } }

.team-section {
  padding-top: 10%;
  padding-bottom: 3%; }
  .team-section h3 span {
    font-weight: bold !important; }
  .team-section .team-person {
    margin: auto;
    text-align: center;
    font-size: 2.2em; }
    .team-section .team-person .teamName {
      font-weight: bold; }
    .team-section .team-person img {
      width: 80%; }

.kontakt-section {
  padding-top: 7%;
  padding-bottom: 3%;
  background: #F5F5F5;
  color: black; }
  .kontakt-section .kontakt {
    text-align: right;
    border-right: 2px solid #000;
    padding-right: 25px; }
    .kontakt-section .kontakt p {
      margin: 0px; }
    .kontakt-section .kontakt .or-p {
      padding-top: 1%;
      font-size: 2.4em;
      color: rgba(0, 0, 0, 0.2); }
    .kontakt-section .kontakt .title {
      font-size: 2.8em;
      padding-top: 5%; }
    .kontakt-section .kontakt .before-or-p {
      padding-top: 1%; }
    .kontakt-section .kontakt .content {
      font-size: 1.8em; }
      .kontakt-section .kontakt .content:last-of-type {
        padding-bottom: 5%; }

html {
  height: 100%;
  width: -webkit-calc(100% - 0px); }

body {
  font-size: 9px;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  min-height: 100%;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto !important;
  width: -webkit-calc(100% - 0px); }

a {
  text-decoration: none;
  outline: none !important; }
  a:hover {
    text-decoration: none;
    outline: none !important; }
  a:focus {
    text-decoration: none;
    outline: none !important; }
  a:active {
    text-decoration: none;
    outline: none !important; }

.clickable {
  cursor: pointer; }

.container-ulg {
  margin: 0 auto;
  width: 100%; }

.container-lg {
  margin: 0 auto;
  width: 98%; }

@media only screen and (min-width: 601px) {
  .container-lg {
    width: 96%; } }
@media only screen and (min-width: 993px) {
  .container-lg {
    width: 94%; } }
@media all and (max-width: 1200px) {
  body {
    font-size: 7px; } }
@media all and (max-width: 767px) {
  body {
    font-size: 6px; } }
.intro {
  width: 100%;
  height: 100%;
  position: relative;
  background: url(../images/drzewa.jpg) no-repeat top center;
  background-size: cover;
  padding: 20%; }

/*# sourceMappingURL=style.css.map */
